// Menu Buttons

.menu-btn {
    position: absolute;
    z-index: 3;
    top: 35px;
    right: 35px;
    cursor: pointer;
    @include easeOut;

        .btn-line {
            width: 28px;
            height: 3px;
            margin: 0 0 5px 0;
            background: #fff;
            @include easeOut;
        }

        // Rotate Into X With Menu Lines

        &.close {
            transform: rotate(180deg);

            .btn-line {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 5px);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translate(7px, -6px);
                }
            }
        }
}